@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 750px;
    margin: 50px auto 0px auto;
}

.grid {
    display: grid;   
    grid-template-columns: 1fr 1fr; 
    grid-gap: 25px; 
    margin: 0 40px;
}

.grid div {
    display: flex;
    flex-direction: column;
}

.wide {
    grid-column: 1/3;
}

.wide input[type="text"] {
    max-width: 1fr;
}

input {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    height: 40px;
}

label {
    margin-top: 10px;
    color: gray;
    font-size: 12px;
}

.ml-40 {
    margin-left: 40px;
}

.btn {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid rgb(39, 221, 39);
    border-radius: 5px;
    background-color: rgb(255, 255, 255)
}

.btn-txt {
    font-size: 16px;
    color: rgb(163, 163, 163);
}

.btn:hover{
    background-color: rgb(39, 221, 39);
}

.invalid {
    border: 1px solid #ff3300;
}

.header {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.logo {
    height: 90px;
}
  
.logo-text {
    align-self: flex-end;
    font-size: 50px;
    font-weight:400;
    font-style:normal;
    color: #666666;
}
  
span {
    color: #ff3300;
}

.error-msg {
    font-size: 12px;
    color: #ff3300;
}

.firld-name {
    font-weight: 700;
}