<template>
  <div class="container">
    <form action="#"  @submit="checkForm()">
      <p class="ml-40 firld-name">Full Name <span>*</span></p>
      <div class="grid">
        <div>
          <input v-model.trim="v$.form.firstName.$model" :class="firstNameValid ? 'invalid' : ''" type="text" id="firstName">
          <label for="firstName">First Name</label>
          <div class="input-errors" v-for="(error, index) of v$.form.firstName.$errors" :key="index">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>
        <div>
          <input v-model.trim="v$.form.lastName.$model" :class="lastNameValid ? 'invalid' : ''" type="text" id="lastName">
          <label for="lastName">Last Name</label>
          <div class="input-errors" v-for="(error, index) of v$.form.lastName.$errors" :key="index">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>
        <div class="wide">
          <p class="firld-name">Address <span>*</span></p>
          <input v-model.trim="v$.form.firstAddress.$model" :class="firstAddressValid ? 'invalid' : ''" type="text" id="firstAddress" >
          <label for="firstAddress">Street Address</label>
          <div class="input-errors" v-for="(error, index) of v$.form.firstAddress.$errors" :key="index">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>
        <div class="wide">
          <input v-model.trim="v$.form.secondAddress.$model" :class="secondAddressValid ? 'invalid' : ''" type="text" id="secondAddress">
          <label for="secondAddress">Street Address Line 2</label>
        </div>
        <div>
          <input v-model.trim="v$.form.city.$model" :class="cityValid ? 'invalid' : ''" type="text" id="city">
          <label for="city">City</label>
          <div class="input-errors" v-for="(error, index) of v$.form.city.$errors" :key="index">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>
        <div>
          <input v-model.trim="v$.form.stateProvince.$model" :class="stateProvinceValid ? 'invalid' : ''" type="text" id="stateProvince">
          <label for="stateProvince">State / Province</label>
        </div>
        <div class="wide">
          <input v-model.trim="v$.form.postal.$model" :class="postalValid ? 'invalid' : ''" type="number" id="postal">
          <label for="postal">Postal / Zip Code</label>
          <div class="input-errors" v-for="(error, index) of v$.form.postal.$errors" :key="index">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
        </div>
        <div>
          <p class="firld-name">Phone Number <span>*</span></p>
          <div> 
            <input v-model.trim="v$.form.phone.$model" :class="phoneValid ? 'invalid' : ''" type="number" id="phone" placeholder=" (000) 000-0000">
          </div>
          <p class="firld-name">E-mail</p>
          <div> 
            <input v-model.trim="v$.form.email.$model" :class="emailValid ? 'invalid' : ''" type="text" id="email" placeholder=" ex: email@yahoo.com">
            <label for="email">example@example.com</label>
            <div class="input-errors" v-for="(error, index) of v$.form.email.$errors" :key="index">
            <div class="error-msg">{{ error.$message }}</div>
          </div>
          </div>
        </div>
      </div>
      <hr>
      <button class="btn ml-40" type="submit"><span class="btn-txt">Submit</span></button>
      </form>
  </div>
</template>

<script>
import useVuelidate from '@vuelidate/core'
import { required, email, minLength, maxLength } from '@vuelidate/validators'

export default {
  setup () {
    return { v$: useVuelidate() }
  },
  name: 'TestForm',
    props: {
    msg: String
  },
  data() {
    return {
      form: {
        firstName: '',
        lastName: '',
        firstAddress: '',
        secondAddress: '',
        city: '',
        stateProvince: '',
        postal: '',
        phone: '',
        email: ''   
      },
      error: ''
    }
  },
  validations: {
    form: {
      firstName: { required, minLength: minLength(3), maxLength: maxLength(255) },
      lastName: { required, minLength: minLength(3), maxLength: maxLength(255) },
      firstAddress: { required, maxLength: maxLength(255) },
      secondAddress: { maxLength: maxLength(255) },
      stateProvince: { maxLength: maxLength(255) },
      city: { required, maxLength: maxLength(255) },
      postal: { required, maxLength: maxLength(255) },
      phone: { required, maxLength: maxLength(255) },
      email: { email }
    }
  },
  methods: {
    checkForm() {
      this.v$.$validate() 
      if (!this.v$.$error) {
        console.log(this.$data.form);
      } else {
        console.log('form faild validation')
      }
    }
  },
  computed: {
    firstNameValid() {
      let error = false;
      if (this.v$.form.firstName.$invalid && this.v$.form.firstName.$dirty) error = true
      return error;
    },
    lastNameValid() {
      let error = false;
      if (this.v$.form.lastName.$invalid && this.v$.form.lastName.$dirty) error = true
      return error;
    },
    firstAddressValid() {
      let error = false;
      if (this.v$.form.firstAddress.$invalid && this.v$.form.firstAddress.$dirty) error = true
      return error;
    },
    secondAddressValid() {
      let error = false;
      if (this.v$.form.secondAddress.$invalid && this.v$.form.secondAddress.$dirty) error = true
      return error;
    },
    cityValid() {
      let error = false;
      if (this.v$.form.city.$invalid && this.v$.form.city.$dirty) error = true
      return error;
    },
    stateProvinceValid() {
      let error = false;
      if (this.v$.form.stateProvince.$invalid && this.v$.form.stateProvince.$dirty) error = true
      return error;
    },
    postalValid() {
      let error = false;
      if (this.v$.form.postal.$invalid && this.v$.form.postal.$dirty) error = true
      return error;
    },
    phoneValid() {
      let error = false;
      if (this.v$.form.phone.$invalid && this.v$.form.phone.$dirty) error = true
      return error;
    },
    emailValid() {
      let error = false;
      if (this.v$.form.email.$invalid && this.v$.form.email.$dirty) error = true
      return error;
    }
  }
}
</script>