<template>
  <TestForm msg="Welcome to Your Vue.js App"/>
</template>

<script>
import TestForm from './components/Form.vue'

export default {
  name: 'App',
  components: {
    TestForm
  }
}
</script> 